table {
  width: 100%;
  margin-top: 1em;
  border: 0.2em black solid;
}

.row {
  background-color: red;
  width: 100%;
}

.bottom-box {
  width: 100%;
  margin-top: 2em;
}

.description-box {
  width: 50%;
  float: left;
}

.users-box {
  width: 50%;
  float: left;
}

.date-box {
}
