table {
  width: 100%;
  margin-top: 1em;
  border: 0.2em black solid;
}

.row {
  background-color: red;
  width: 100%;
}

.description-name {
  margin-top: 1em;
}

.description-box {
  margin: 2em;
}
