@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container1 {
  width: 100%;
  padding-top: 5em;
  padding-left: 7em;
}

.loading-spinner1 {
  width: 5em;
  height: 5em;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
