.buttons {
  text-align: center;
}

.delete-event-button {
  width: 33%;
  float: left;
}

.edit-event-button {
  width: 33%;
  float: left;
  padding-top: 1em;
}

.finish-event-button {
  width: 33%;
  float: left;
  padding-top: 1em;
}

/* EXPENSE */

table {
  width: 100%;
}

th {
  border-top: 0.1em black solid;
}

.link-expense-page {
  color: white;
  text-decoration: none;
}

.delete-expense-button {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.delete-expense-button button {
  font-size: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.add-expense-button {
  font-size: 2em;
  padding-bottom: 0.5em;
}

.input-expense {
  height: 2em;
  width: 50%;
}

.input-type {
  text-align: center;
}

/* EXPENSE USER */

.input-expense-user {
  width: 100%;
}

.input-expense-user-name {
  width: 45%;
  text-align: center;
  float: left;
}

.input-expense-user-checkbox {
  width: 10%;
  float: left;
}

.input-expense-user-cash {
  width: 30%;
  float: left;
}

/* USERS */

.bottom {
  width: 100%;
}

.add-member {
  padding-bottom: 1em;
}

.members {
  width: 100%;
}

.member {
  width: 100%;
  background-color: green;
}

.member-name {
  width: 50%;
  float: left;
  padding-left: 1.7em;
}

.delete-member {
  width: 40%;
  float: left;
  padding-top: 1em;
}

.add-user-form label {
  padding-right: 1em;
}

.add-user-form button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.input-description {
  margin-bottom: 1em;
}

.split-title {
  margin-top: -1em;
}

.add-user-expense {
  margin-top: 1em;
}
