.buttons {
  text-align: center;
}

.delete-event-button {
  width: 33%;
  float: left;
}

.edit-event-button {
  width: 33%;
  float: left;
  padding-top: 1em;
}

.finish-event-button {
  width: 33%;
  float: left;
  padding-top: 1em;
}

.bottom {
  width: 100%;
}

.add-member {
  padding-bottom: 1em;
}

.members {
  width: 100%;
}

.member {
  width: 100%;
  background-color: green;
}

.member-name {
  width: 50%;
  float: left;
  padding-left: 1.7em;
}

.delete-member {
  width: 40%;
  float: left;
  padding-top: 1em;
}
