.buttons {
  text-align: center;
}

.go-back-button1 {
  width: 25%;
  float: left;
  padding-top: 1em;
}

.go-back-button1-archived {
  width: 100%;
}

.delete-event-button {
  width: 25%;
  float: left;
}

.edit-event-button {
  width: 25%;
  float: left;
  padding-top: 1em;
}

.finish-event-button {
  width: 25%;
  float: left;
  padding-top: 1em;
}

/* EXPENSE */

table {
  width: 100%;
}

.link-expense-page {
  color: white;
  text-decoration: none;
}

.delete-expense-button {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.delete-expense-button button {
  font-size: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.add-expense-button {
  font-size: 2em;
  padding-bottom: 0.5em;
}

.input-expense {
  height: 2em;
  width: 50%;
}

.input-type {
  text-align: center;
}

/* EXPENSE USER */

.input-expense-user {
  width: 100%;
}

.input-expense-user-name {
  width: 45%;
  text-align: center;
  float: left;
}

.input-expense-user-checkbox {
  width: 10%;
  float: left;
}

.input-expense-user-cash {
  width: 30%;
  float: left;
}

/* EXPENSES */
.expense-font {
  font-size: 1.3em;
}

/* USERS */

.bottom {
  width: 100%;
}

.members {
  width: 100%;
  height: auto;
}

.row {
  width: 100%;
  height: 2.5em;
}

.member {
  text-align: center;
  width: 100%;
}

.member-name {
  width: 50%;
  float: left;
  padding-left: 1.7em;
}

.member-name-archived {
  width: 100%;
}

.member-username {
  text-align: center;
}

.delete-member {
  width: 40%;
  float: left;
  padding-top: 1em;
}

.add-user-form label {
  padding-right: 1em;
}

.add-user-form button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.input-description {
  margin-bottom: 1em;
}

.split-title {
  margin-top: -1em;
}

.add-user-expense {
  margin-top: 1em;
}

/* MEMBERS */
.members {
  border: 0.1em solid black;
}

.members-title-box {
  width: 100%;
}

.members-title {
  width: 50%;
  float: left;
  text-align: right;
}

.members-title-archived {
  width: 100%;
  text-align: center;
}

.members-title-add {
  width: 50%;
  float: left;
}

.add-member {
  padding-top: 1.5em;
}

/* FINISHED DATA */
.finish-data-all-box {
}

.finished-data-box {
  border: 0.1em solid black;
  font-size: 1em;
}

.finished-data {
  width: 100%;
  border-bottom: 0.1em solid black;
}

.debtor-color {
  background-color: rgb(37, 228, 37);
}

.debtor {
  width: 50%;
  float: left;
}

.have-to-pay-color {
  background-color: rgb(159, 10, 10);
}

.have-to-pay {
  width: 50%;
  float: left;
}
